.container {
    padding: 0 16px;
}

.header-main-list {
    display: none;
}

.header-container {
    padding: 24px 16px;
    margin: 0 auto;
}

.main-address {
    display: none;
}

.mobile-header-icon {
    stroke: var(--title-color);
}

.menu-toggle {
    border: none;
    background-color: transparent;
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding-top: 80px;
    padding-left: 40px;
    background-color: var(--white-color);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}
        
.menu-container.is-open {
    transform: translateX(0);
}

.js-close-menu {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    padding: 8px;
    border: 1px solid rgba(46, 47, 66, 0.1);
    border-radius: 50%;
    background-color: transparent;
    fill: var(--title-color);
}

.mobile-modal-nav {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: auto;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
    text-transform: capitalize;
}


.modal-mobile-links {
    color: var(--title-color);
    text-decoration: none;
}
.is-active-mobile {
    color: var(--ocean-color) ;
}

.modal-mobile-bottom {
    margin-bottom: 40px;
}

.mobile-contact-link {
    display: block;
}
.mobile-contact-tel {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--iris-color);
}
.mobile-contact-mail {
    margin-bottom: 48px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.social-links-modal {
    display: flex;
    justify-content: center;
    gap: 56px;
}

/* HERO SECTION */

.main-box {
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobile-img/mobileherobg-1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .main-box {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7)) , url(../images/mobile-img/mobileherobg-2x.jpg);
    }
}

.main-box-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 40px;
}

/* ABOUT SECTION */

.about {
    padding: 96px 0;
}
.list-about {
    flex-direction: column;
    row-gap: 72px;
}
.list-about-item {
    justify-content: center;
    width: 100%;
}
.about-title {
    text-align: center;
    font-size: 36px;
    line-height: 40px;
}
.about-icon {
    display: none;
}
.about-description {
    font-weight: 500;
    text-align: center;
}
/* BENEFITS */
.benefits {
    display: none;
}

/* OUR TEAM */

.our-team {
    padding: 96px 0;
}
.list-our-team {
    flex-direction: column;
    gap: 72px;
    align-items: center;
}

.our-team-item {
    max-width: 264px;
}

/* CUSTOMERS */
.customers {
    padding: 96px 0;
}
.client-list {
    flex-wrap: wrap;
    margin: 0 auto;
    column-gap: 16px;
    row-gap: 72px;
}
.client-list-box {
    width: calc((100% - 16px) / 2);
}

/* FOOTER */
.footer {
    padding: 96px 0;
}

.footer-items {
    flex-direction: column;
    align-items: center;
}

.footer-link {
    text-align: center;
    margin: 0 auto 72px;
}
.social-media {
    margin: 0 auto 72px;
    text-align: center;
}
.social-links-footer {
    justify-content: center;
}

/* FOOTER SUBS FORM */

.footer-form-title {
    text-align: center;
}
.footer-subs-input {
    opacity: 0.3;
    width: 100%;
}
.footer-subscribe {
    flex-direction: column;
    gap: 16px;
}
.footer-form {
    width: 100%;
}
.subscribe-btn {
    width: 165px;
    margin: 0 auto;
}

/* PORTFOLIO MAIN */

.prt-nav-list {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 24px;
}

.nav-btn {
    padding: 8px 16px;
}
.prt-main {
    row-gap: 72px;
    justify-content: center;
}
.prt-main-item {
    width: calc(100% - 24px);
    max-width: 396px;
}
.portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
}


/* MODAL WINDOW */

.modal-window {
    padding: 72px 16px 24px;
}