/*RESET*/

*,
::before,
::after {
    box-sizing: border-box;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}



body {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}
:root {
    --primary-text-color: #434455;
    --bg-color-icon: #F4F4FD;
    --white-color: #FFFFFF;
    --title-color: #2E2F42;
    --iris-color: #4D5AE5;
    --scl-icon-color: #f4f4fd;
    --light-slate-color: #8E8F99;
    --ocean-color: #404BBF;
}
img {
    display: block;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.link {
    text-decoration: none;
}
.container {
    min-width: 320px;
    max-width: 1158px;
    margin: 0 auto;
}
.header-container {
    display: flex;
}
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
     0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-link {
    display: flex;
    align-items: center;
    margin-right: auto;
}
.list {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    list-style: none;
} 
.logo-part {
    color: #2E2F42;
}
.logo {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    color: var(--iris-color);
}
.list-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-link:hover,
.list-link:focus {
    color: #404bbf;
}
.is-active {
    position: relative;
    color: #404bbf;
}
.is-active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: #404BBF;
    border-radius: 2px;
}
.main-address {
    font-style: normal;
}
.header-logo {
    margin-right: 76px;
}
.header-main-list{
    display: flex;
    gap: 40px;
}
.header-contact {
    font-style: normal;
    display: flex;
    gap: 40px;
}
.contact-link {
    display: block;
    padding: 24px 0 ;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
    color: #404bbf
}
.main-box {
    background-color: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/herobg-1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
}
@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .box {
        background-image: url('../images/herobg-2x.jpg');
    }
}
.main-box-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}
.main-box-btn {
    background: var(--iris-color);
    cursor: pointer;
    color: #ffffff;
    border: none;
    font-family: 'Roboto' , sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-box-btn:hover,
.main-box-btn:focus {
    background-color: #404BBF;
}
.about {
    padding-top: 120px;
    padding-bottom: 120px;
}
.about-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 8px;
}
.list-about {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}
.list-about-item {
    width: calc((100% - 72px) / 4);
}
.about-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F4FD;
    border-radius: 4px;
    height: 112px;
    margin-bottom: 8px;
}
.about-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.benefits {
    padding-bottom: 120px;
}
.benefits-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
    margin-bottom: 72px;
}
.list-benefits {
    display: flex;
    gap: 24px;
}
.list-benefits-item {
    width: calc((100% - 48px) / 3);
}

/* OUR TEAM*/
.our-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.our-team-head {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}
.list-our-team {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.social-links {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.social-links-items {
    width: 40px;
    height: 40px;
}
.social-link-item {
    width: 100%;
    height: 100%;
    background-color: var(--iris-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-item:hover,
.social-link-item:focus {
    background-color: #404bbf;
}
.social-icon {
    fill: var(--scl-icon-color);
}
.our-team-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.our-team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2; 
    text-align: center;
    letter-spacing: 0.02em; 
    color: var(--title-color) ;
    margin-bottom: 8px;
}
.our-team-description {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
    text-align:center;
}
.our-team-workers {
    padding: 32px 16px;
}
/* CUSTOMERS*/
.customers {
    padding: 120px 0;
}
.customer-title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    margin-top: 0;
    text-transform: capitalize;
}

.client-list {
    display: flex;
    gap: 24px;
    margin: 0 auto;
    justify-content: center;
}
.client-list-box {
    width: calc((100% - 120px) / 6);
    height: 88px;
}

.client-links {
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-links:hover,
.client-links:focus {
    border-color: #404BBF;
    color: #404bbf;
}
.client-list-item {
    fill: currentColor;
}
/*FOOTER*/
.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}
.footer-items {
    display: flex;
    align-items: baseline;
}
.footer-link {
    margin-right: 120px;
}
.footer-logo-part {
    color: #f4f4fd;
}
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}
.footer-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}
.social-media {
    margin-right: 80px;
}
.social-media-title {
    color: var(--white-color);
    font-weight: 500;
    font-size: 16px;
    line-height:1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    margin-top: 0;
}
.social-links-footer {
    display: flex;
    gap: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-links:hover,
.footer-social-links:focus {
    background-color: #31d0aa;
}

/* FOOTER SUBS FORM */

.footer-form-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color);
}
.footer-subscribe { 
    display: flex;
    gap: 24px;
}
.footer-subs-input {
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    color: #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.footer-subs-input::placeholder {
    color: #ffffff;
}
.subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    min-width: 165px;
    padding: 8px 24px;
    background-color: var(--iris-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    fill: currentColor;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn:hover {
    background-color: #404BBF;
}

.subs-btn-icon {
    margin-left: 16px;    
}

/* PORTFOLIO */

.nav-btn {
    background-color: #F4F4FD;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--iris-color);
    cursor: pointer;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding: 12px 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-btn:hover,
.nav-btn:focus {
    background-color: #404BBF;
    color: var(--white-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.prt-main-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 8px;
}

.main-list-item {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-list-item:hover,
.main-list-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.main-list-item:hover .overlay,
.main-list-item:focus .overlay {
    transform: translateY(0%);
}
.thumb {
    display: block;
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    padding: 40px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
.container-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}
.portfolio-container{
    padding: 0 15px;
}
.prt-nav-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}
.prt-main {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.prt-main-item {
    width: calc((100% - 48px) / 3);
}
.prt-main-links {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}


/*MODAL */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    padding: 72px 24px 24px;
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
    border:none;
    fill: #ffffff;
}
.modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* FORM IN MODAL */

.modal-form-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.modal-list-userinfo {
    margin-bottom: 8px;
}

.modal-form-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.modal-input-area {
    position: relative;
}

.modal-form-input {
    padding-left: 38px;
    outline: transparent;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
    border-color: #4D5AE5;
}

.modal-form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-icon {
    fill: #4D5AE5;
}

.modal-comment-area {
    margin-bottom: 16px;
}
.modal-form-textarea {
    padding: 8px 16px;
    resize: none;
    width: 100%;
    height: 120px;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea:focus {
    border-color: #4D5AE5;
}

.modal-form-checkbox {
    margin-bottom: 24px;
}
.modal-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate-color);
    cursor: pointer;
}
.privacy-link {
    color: var(--iris-color);
}

.modal-checkbox-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    fill: transparent;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-input:checked + .modal-checkbox-label > .modal-checkbox-icon {
    background-color: var(--ocean-color);
    fill: var(--scl-icon-color);
    border:none;
}

.modal-form-btn {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    cursor: pointer;
    background-color: var(--iris-color);
    border: none;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn:hover,
.modal-form-btn:focus {
    background-color: #404BBF;
}